body {background-color: #118ab2;
background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
head {background-color: #118ab2;
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
    }
.recipes {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 16px;
    border: red;
    margin-left: 100px;
}